# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Streamlit
.streamlit/secrets.toml
.streamlit/cache/

# Uploads dan Exports
uploads/
exports/
*.log
*.csv
*.json

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.venv

# Testing
.pytest_cache/
.coverage
htmlcov/